body{
    font-family: Geneva, Verdana, sans-serif;
    margin: 0 auto;
    width: 75%;
}

header{
    background:#668284;
    height: 60px;
    border: 1px solid black;
    color: white;
    text-align: center;
    border-radius: 3px;
    
}

.direita{
    float: left;
}

.esquerda{
    float: right;
}

main{
    background: #ddd88e;
    padding: 7px;
    margin-top: 10px;
    float: right;
    width: 72%;
    font-size: 18px;
    font-family: Verdana,sans-serif, Geneva;
    text-align: justify;
    line-height: 15px;
    border-radius: 3px;

  
}

section{
    background:#ddd88e;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
    color: black;
    width: 96%;
    min-height:90px;
    margin-top: 5px;
    float: left;
  
}

div{
    background: #66b0c0;
    padding: 10px;
    margin-top: 10px;
    float: left;
    width: 24%;
    min-height:90px;
    border-radius: 3px;
}

img{
    border-radius: 50%;
}

footer{
    clear: both;
    background: rgb(77, 93, 138);
    margin-top: 30px;
    text-align: center;
    border: 5px solid white;
    padding: 15px;
    color: white;
    border-radius: 3px;

}
